@charset "UTF-8";
/*CSS Document*/

body {
	text-align: center;
}

#titleLine {
	margin: 0;
}

#appLinkAnchor {
	max-width: 10in;
	margin: 0 auto 0 auto;
}

ul {
	list-style-type: none;
	padding: 0;
	max-width: 7in;
	margin: 0 auto 0 auto;
}

li {
	width: 33%;
	float: left;
}

#address {
	margin-top: 1em;
	font-weight: bold;
	clear: both;
}

@media screen and (max-width: 6in) {
	li {
		width: 50%;
	}
}

@media screen and (max-width: 3.5in) {
	li {
		width: 100%;
	}
}

	@media screen and (min-width: 10in) {
		.appLinkContainer {
			width: 25%;
		}
	}
}
