body {
	height: 100%;
	overflow: hidden;
}

#flashCardContainer {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
	height: 100%;
	perspective: 1000px;
	-webkit-perspective: 1000px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#flashCardContainer tr, #flashCardContainer td { padding: 0; }

#flashCard {
	position: relative;
	display: inline-block;
	width: 600px;
	height: 400px;
	background-color: #FFF;
	cursor: pointer;
	-moz-transform: perspective(1000px);

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;

	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-style: preserve-3d;
	-ms-transform-style: preserve-3d;

	transition: transform 0.6s ease-out;
	-webkit-transition: -webkit-transform 0.6s ease-out;
	-moz-transition: -moz-transform 0.6s ease-out;
	-ms-transition: -ms-transform 0.6s ease-out;
}

#flashCard.flipped {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
}

#flashCard, .side {
	min-width: 1.4in;
	min-height: 0.93in;
}

.side {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;

	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

#backFlashCard {
	width: 96%;
	padding: 2%;
	font-size: 18px;

	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
}

#backFlashCard h1 { font-size: 2em; }
#backFlashCard h2 { font-size: 1.5em;
	background-color: #000;
	color: #FFF;
	margin-top: 2%;
	padding-top: 0.3em;
	padding-bottom: 0.5em;
}

#signalIndication {
	text-indent: 2em;
	text-align: left;
}

@media screen and (max-width: 510px), (max-height: 340px) {
	#backFlashCard { font-size: 16px; }
}

@media screen and (max-width: 480px), (max-height: 320px) {
	#backFlashCard { font-size: 15px; }
}

@media screen and (max-width: 450px), (max-height: 300px) {
	#backFlashCard { font-size: 14px; }
}

@media screen and (max-width: 420px), (max-height: 280px) {
	#backFlashCard { font-size: 12px; }
}

@media screen and (max-width: 345px), (max-height: 230px) {
	#backFlashCard { font-size: 11px; }
	#backFlashCard h1 { font-size: 1.6em; }
	#backFlashCard h2 { font-size: 1.2em; }
}

@media screen and (max-width: 300px), (max-height: 200px) {
	#backFlashCard { font-size: 8px; }
}

@media screen and (max-width: 240px), (max-height: 160px) {
	#backFlashCard { font-size: 7px; }
}

@media screen and (max-width: 210px), (max-height: 140px) {
	#backFlashCard { font-size: 6px; }
}

@media screen and (max-width: 180px), (max-height: 120px) {
	#backFlashCard { font-size: 5px;
		width: 100%;
		padding: 0;
	}
}

@media not all and (-webkit-transform-3d) {
	#flashCard.flipped {
		-webkit-transform: none;
	}

	#flashCard #backFlashCard, #flashCard.flipped #frontFlashCard {
		visibility: hidden;
	}

	#flashCard.flipped #backFlashCard, #flashCard #frontFlashCard {
		visibility: visible;
	}
}
