@charset "UTF-8";
/*CSS Document*/

header {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DD0000), to(#CC0000));
  background: -webkit-linear-gradient(top, #DD0000, #CC0000);
  background: -moz-linear-gradient(top, #DD0000, #CC0000);
  background: -ms-linear-gradient(top, #DD0000, #CC0000);
  background: -o-linear-gradient(top, #DD0000, #CC0000);
}

header, #searchContainer {
  background-color: #DD0000;
  position: absolute;
  text-align: center;
  width: 100%;
  min-width: 1.4in;
  top: 0;
}

header, #logo {
  height: 48pt;
}

#logo > img {
  border: none;
}

#searchContainer {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CC0000), to(#880000));
  background: -webkit-linear-gradient(top, #CC0000, #880000);
  background: -moz-linear-gradient(top, #CC0000, #880000);
  background: -ms-linear-gradient(top, #CC0000, #880000);
  background: -o-linear-gradient(top, #CC0000, #880000);
  margin-top: 48pt;
  padding-bottom: 4pt;

  box-shadow:
    1pt 8pt 8pt 0 #111111;
  -webkit-box-shadow:
    1pt 8pt 8pt 0 #111111;
  -moz-box-shadow:
    1pt 8pt 8pt 0 #111111;
  -ms-box-shadow:
    1pt 8pt 8pt 0 #111111;
  -o-box-shadow:
    1pt 8pt 8pt 0 #111111;
}

#searchContainer.sticky {
  position: fixed;
  padding-top: 4pt;
  margin-top: 0;
}

#sticky-anchor {
  position: absolute;
  top: 45pt;
}

#searchBar {
  background-color: #EEEEEE;
  border: 2pt solid #000000;
  font-size: 1.5em;
  width: 95%;
  max-width: 5in;
  min-width: 1.3in;
  display: inline-block;
  
  border-radius: 13pt;
  -webkit-border-radius: 13pt;
  -moz-border-radius: 13pt;
  -ms-border-radius: 13pt;
  -o-border-radius: 13pt;
}
