@charset "UTF-8";
/*CSS Document*/

#headerContainer {
	max-width: 12in;
	margin: 0 auto 0 auto;
	position: relative;
	height: 70px;
}

#header {
	background-color: #C00;

	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D00), to(#800));
	background: -webkit-linear-gradient(top, #D00, #800);
	background: -moz-linear-gradient(top, #D00, #800);
	background: -ms-linear-gradient(top, #D00, #800);
	background: -o-linear-gradient(top, #D00, #800);

	min-width: 1.4in;
	width: 100%;
	text-align: right;
	overflow-x: hidden;

	box-shadow:
		0 3pt 3pt #555;
	-webkit-box-shadow:
		0 3pt 3pt #555;
	-moz-box-shadow:
		0 3pt 3pt #555;
	-ms-box-shadow:
		0 3pt 3pt #555;
	-o-box-shadow:
		0 3pt 3pt #555;
}

#logo {
	float: left;
	padding-left: 10pt;
}

#logo > img {
	border: none;
	vertical-align: middle;
}

#headerToolContainer {
	top: 50%;
	right: 10pt;
	margin-top: -1em;
	height: 2em;
	position: absolute;
	width: 50%;
	max-width: 5in;
	background-color: #EEE;
	border: 2pt solid #000;
}

.headerTool {
	background-color: #EEE;
	background-color: rgba(238, 238, 238, 0);
	outline: none;
	border: none;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	-webkit-appearance: none;
}

#headerToolContainer, .headerTool {
	border-radius: 15pt;
	-webkit-border-radius: 15pt;
	-moz-border-radius: 15pt;
	-ms-border-radius: 15pt;
	-o-border-radius: 15pt;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
