@charset "UTF-8";
/*CSS Document*/

#headerContainer {
  margin: 0 auto 0 auto;
  max-width: 12in;
  line-height: 48pt;
}

#header {
  overflow: hidden;
}

#header {
  background-color: #C00;

  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D00), to(#800));
  background: -webkit-linear-gradient(top, #D00, #800);
  background: -moz-linear-gradient(top, #D00, #800);
  background: -ms-linear-gradient(top, #D00, #800);
  background: -o-linear-gradient(top, #D00, #800);
}

header {
  min-width: 1.4in;
  text-align: right;
  width: 100%;

  box-shadow:
    0 3pt 3pt #555;
  -webkit-box-shadow:
    0 3pt 3pt #555;
  -moz-box-shadow:
    0 3pt 3pt #555;
  -ms-box-shadow:
    0 3pt 3pt #555;
  -o-box-shadow:
    0 3pt 3pt #555;
}

#logo, #SearchBar {
  height: 70px;
  min-height: 48pt;
}

#logo {
  float: left;
  padding-left: 10pt;
}

#logo > img {
  border: none;
  vertical-align: middle;
}

#searchBar {
  background-color: #EEE;
  border: 2pt solid #000;
  height: 1.5em;
  font-size: 1.4em;
  min-width: 1.4in;
  max-width: 5in;
  margin-right: 10pt;
  vertical-align: middle;
  width: 50%;
  
  border-radius: 12pt;
  -webkit-border-radius: 12pt;
  -moz-border-radius: 12pt;
  -ms-border-radius: 12pt;
  -o-border-radius: 12pt;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
