@charset "UTF-8";
/*CSS Document*/

#hotelInfo {
  font-size: 11pt;
  height: 1.45in;
}

#hotelInfo > p:first-child {
  text-indent: 2em;
}

table, td, th {
  font-size: 10pt;

  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

#tableContainer {
  float: right;
  width: 75%;
}

#hotelTable {
  width: 100%;
  border-spacing: 0;
  background-color: #EEEEEE;
  font-family: sans;
  border: 1pt solid #000000;
  clear: right;
}

td {
  height: 1.9in;
  border: 1pt solid #000000;
  text-align: center;
}


.true {
  background-color: #00CC00;
}

.false {
  background-color: #CC0000;
}

th {
  height: 0.3in;
  border: 1pt solid #000000;
}

th > select {
  border: none;
  background: none;
  width: 100%;
  text-align: center;
}

.appLinkContainer {
  width: 25%;
}

.legendKey {
  width: 10pt;
  height: 10pt;
  display: inline-block;
  vertical-align: middle;
  border: 1pt solid black;
}

.col4 {
  display: none;
}

@media screen and (min-width: 10in) {
  .col4 {
    display: table-cell;
  }
}

@media screen and (max-width: 6in) {
  #hotelInfo {
    height: 1.25in;
  }

  #hotelInfo > p:first-child {
    display: none;
  }

  td {
    height: 1.7in;
  }
}

@media screen and (max-width: 4in) {
  #hotelInfo {
    height: 0.95in;
  }
  
  td {
    height: 1.4in;
  }

  .col3 {
    display: none;
  }
}

@media screen and (max-width: 3.5in) {
  .col2 {
    display: none;
  }

  .appLinkContainer {
    width: 33.3%
  }

  #tableContainer {
    width: 66.6%;
  }
}

@media screen and (max-width: 210px), (max-width: 2in) {
  .appLinkContainer {
    width: 50%
  }

  #tableContainer {
    width: 50%;
  }

  #hotelInfo {
    height: 0.85in;
  }

  td {
    height: 1.3in;
  }
}
