@charset "UTF-8";
/*CSS Document*/

#gallery {
	width: 99%;
	display: table;
	margin: 0 auto 0 auto;
}

.imagelink {
	background-color: #DDD;
	cursor: pointer;
	border: 2pt solid #000;
	margin-bottom: 3px;
	height: 1.1in;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.imagelink:hover {
 background-color: #D00;
}

.image {
	text-align: center;
	height: 1.1in;
	display: table-cell;
	vertical-align: middle;
}

.thumbnail {
	max-width: 1in;
	max-height: 1in;
	margin-left: 1em;
}

.comment {
	display: table-cell;
	vertical-align: middle;
	padding-left: 1em;
}

/* Deals with picture displaying */
#picbg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

#pclose {
	top: 0;
	right: 0;
	position: absolute;
}

#pic {
	border:5px solid #FFF;
	background:#FFF;
	max-width: 95%;
	vertical-align: middle;
}

@media screen and (min-width:10in) {
	.imagelink {
		margin-left: 0.33%;
		float: left;
		width: 49.5%;
	}
}
