@charset "UTF-8";
/*CSS Document*/

p {
 text-align:center;
}

th, td {
 border:1px solid black; vertical-align:top; min-width:1in; max-width:1in;
}

table {
 max-width:7in; width:100%; margin: 0 auto 0 auto; min-width:7in;
}

body {
 min-width:8in; /*Force Fix Header */
}