@charset "UTF-8";
/*CSS Document*/

.headerTool {
	cursor: pointer;
}

p {
 text-align:center;
}

th {
	background-color: #EEE;
}

th span {
	display: none;
}

td {
	background-color: #FFF;
	width: 20%;
}

th, td {
 border:2px solid black;
 vertical-align: top;
 max-width: 1in;
 text-align: center;
}

.divider {
	background-color: #C00;
	color: #FFF;

	transition: background-color 0.5s ease-in-out;
	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-ms-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color 0.5s ease-in-out;
}

table {
 max-width: 10in;
 width:100%;
 margin: 0 auto 0 auto;
font-size: 0.9em;
}

.divider span {
	font-weight: bold;
}

.divider span:after {
	content: ' - ';
}

@media screen and (min-width: 8in) {
	th span {
		display: inline;
	}

	table {
		font-size: 1em;
	}
}


@media screen and (max-width: 6in) {
	table {
		border-collapse: collapse;
	}
 
	thead { 
		display: none;
	}
 
	td { 
		position: relative;
		width: 100%;
		max-width: 100%;
		white-space: normal;
		display: block; 
		border: none;
	}

	.divider {
		padding: 0.5em;
		margin-top: 5px;
		border-top: solid 1px #000;
	}

	.day {
		width: 85%;
		padding-left: 15%; 
		text-align:left;
		border-bottom: solid 1px #000;
	}
 
	.day:before { 
		position: absolute;
		left: 3px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
		font-size: 0.7em;
		content: attr(data-title);
	}

	.divider span:after {
		content: '\a';
		white-space: pre;
	}
}

@media screen and (max-width: 3.5in) {
	table {
		font-size: 0.8em;
	}

	.day {
		width: 80%;
		padding-left: 20%; 
	}

	.day:before { 
		font-size: 0.7em;
	}
}
