@charset "UTF-8";
/*CSS Document*/

html {
  height: 100%;
}

body {
  background-color: #888888;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12pt;
  letter-spacing: 1px;
  min-width: 1.4in;
  margin: 0;
}

#container {
  max-width: 13in;
  margin: 0 auto 0 auto;
  padding-top: 58pt;
  padding-bottom: 10pt;
}

.clearfix {
  clear: both;
}
