@charset "UTF-8";
/*CSS Document*/

html {
	height: 100%;
}

body {
	background-color: #AAA;
	font-family: Oxygen, 'Open-Sans', sans-serif;
	min-width: 1.4in;
	margin: 0;
}

#container {
	max-width: 13in;
	margin: 0 auto 0 auto;
	padding-top: 10pt;
	padding-bottom: 10pt;
}

h1, h2 {
	text-align: center;
	margin: 0;
}

h1, h2, h3 { letter-spacing: 1px; }

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.1em; }

h1 > a {
	color: #000;
	text-decoration: none;
}

h1 > a:hover {
	color: #00F;
}

h1 > a:active {
	color: #C00;
}

#titleLine, #sepLine { border-style: dashed; }
#sepLine { margin: 0; }
#titleLine { margin: 0 0 1em 0; }

.clearfix {
	clear: both;
}
