@charset "utf-8";
/*CSS Document*/

body {
  background-color: #AAAAAA;
  font-family: 'Trebuchet MS', sans-serif;
  letter-spacing: 1pt;
  min-width: 1.5in;
  margin: 0;
  padding: 0 0 16pt 0;
}

#container {
  max-width: 10in;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80pt;
}

a {
  color: #000000;
}

a:active {
  color: #FFFFFF;
}

.clearfix {
  clear: both;
}
